{
    "singleQuote": true,
    "tabWidth": 4,
    "endOfLine": "auto",
    "printWidth": 120,
    "useTabs": false,
    "trailingComma": "none",
    "arrowParens": "always",
    "bracketSpacing": true,
    "semi": true,
    "importOrder": [
        "^(next/(.*)$)|^(next$)",
        "<THIRD_PARTY_MODULES>",
        "next-seo.config",
        "^components/(.*)$",
        "^utils/(.*)$",
        "^assets/(.*)$",
        "^@fontsource/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
